.business-book-category-tag{
    background-color: #023373;
}

.personal-development-book-category-tag{
    background-color: #71C6D9;
}

/* .Fashion-1-hex { color: #023373; }
.Fashion-2-hex { color: #144673; }
.Fashion-3-hex { color: #048ABF; }
.Fashion-4-hex { color: #71C6D9; }
.Fashion-5-hex { color: #D9D8D2; }

.Fashion-1-rgba { color: rgba(2, 51, 114, 1); }
.Fashion-2-rgba { color: rgba(19, 70, 114, 1); }
.Fashion-3-rgba { color: rgba(3, 138, 191, 1); }
.Fashion-4-rgba { color: rgba(112, 197, 216, 1); }
.Fashion-5-rgba { color: rgba(216, 216, 210, 1); }

.Fashion-1-hsla { color: hsla(213, 96, 22, 1); }
.Fashion-2-hsla { color: hsla(208, 70, 26, 1); }
.Fashion-3-hsla { color: hsla(196, 96, 38, 1); }
.Fashion-4-hsla { color: hsla(191, 57, 64, 1); }
.Fashion-5-hsla { color: hsla(56, 7, 83, 1); } */